/* General body styling */
body {
  background: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Home container styling */
.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Hero section styling */
.hero-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #f7f7f7, #e3e3e3, #d1d1d1);
  color: #333;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hero-section .cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-section .cta-button:hover {
  background: #0056b3;
}

/* Introduction section styling */
.introduction-section {
  background: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.introduction-section .Intro-head {
  color: #090909;
  margin-bottom: 10px;
}

/* Tips section styling */
.tips-section {
  color: #333;
}

.tips-section h2 {
  color: #007bff;
}

/* Renewable energy section styling */
.renewable-energy-section {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* General section styling */
.calculator-intro-section,
.charts-section,
.events-section,
.resources-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tip {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  margin-bottom: 20px;
}

/* Chart container styling */
.chart-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

/* Events and resources section styling */
.events-section ul,
.resources-section ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  padding: 0;
}

.events-section li,
.resources-section li {
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #0056b3;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #f0f0f0, #e0e0e0, #d0d0d0);
}
