/* src/styles/Navbar.css */
.navbar {
  background-color: #2e7d32; /* Dark green background representing nature */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  display: grid; /* Use grid layout for the links */
  grid-auto-flow: column;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap; 
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.Log-In {
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: #388e3c; /* Medium green for the login button */
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Log-In:hover {
  color: #e0f7fa; /* Light cyan text color on hover */
  background-color: #2e7d32; /* Darker green background on hover */
  transform: translateY(-2px);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar-menu a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.subscription-button {
  background-color: #ff8800;
  padding: 5px 10px;
  border-radius: 5px;
}
