/* src/styles/Navbar.css */
.navbar {
  background-color: #454f5b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  display: grid; /* Use grid layout for the links */
  grid-auto-flow: column;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap; 
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.Log-In{
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(90, 90, 97);
  text-decoration: none;
  transition: transform 0.3s ease;
}
.Log-In:hover{
  color: aquamarine;
  transform: translateY(-2px)
}