/* src/styles/RenewableEnergyCard.css */

.renewable-energy-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 20px;
  background-color: #f7fafc; /* Light background color */
  /* margin-top: 100px; */
}

.renewable-energy-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.renewable-energy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.renewable-energy-card img {
  width: 100%;
  height: 200px; /* Adjusted height */
  border-radius: 5px;
  object-fit: cover; /* Ensure the image covers the area without distortion */
  margin-bottom: 15px;
}

.renewable-energy-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* Blue color for the title */
  margin-bottom: 10px;
}

.renewable-energy-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.renewable-energy-card .learn-more-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.renewable-energy-card .learn-more-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
