/* styles/UrbanPage.css */

.chart-container {
    max-width: 400px;
    max-height: 400px;
  }
  
  .page-layout {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 50px;
  }