*{
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
  }
  
  .forum-container,
  .category-container,
  .thread-container {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .category-list,
  .thread-list,
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-card,
  .thread-card,
  .post-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .category-link,
  .thread-link {
    text-decoration: none;
    color: inherit;
  }
  
  .new-thread-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-thread-button:hover {
    background-color: #0056b3;
  }
  
  .thread-form,
  .post-form {
    display: flex;
    flex-direction: column;
  }
  
  .thread-form input,
  .thread-form textarea,
  .post-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .thread-form button,
  .post-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thread-form button:hover,
  .post-form button:hover {
    background-color: #218838;
  }

  .subscribe {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f9;
  }
  
  .subscription-plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .plan {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .plan h2 {
    margin-top: 0;
    color: #007bff;
  }
  
  .plan ul {
    list-style-type: none;
    padding: 0;
  }
  
  .plan li {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  